body{
    background: url(oneeye.jpg) no-repeat center center/cover;
    }
    .headers{
    padding-left: 30%;
    color: brown;
    font-size: 35px;
    }
    .header h3{
        right: 40px;
    }
    
    /*Login Form*/
    .form{
        display: flex;
        flex-direction: column;
        height: 600px;
        width: 700px;
        align-items: center;
        margin: auto;
        margin-top: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }
    /* boxes*/
    .box{
        padding: 8px;
        margin: 20px;
        width: 50%;
        border: none;
        outline: none;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 1rem;
    }
    #submit{
        padding: 5px 10px;
        margin-top: 5px;
        width: 40%;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        outline: none;
        border-radius: 20px;
        font-size: 1rem;
    }
    #submit:hover{
        cursor: pointer;
        background-color: rgba(225, 225, 225, 0.1);
        color: white;
    }
    
    ::placeholder{
        color: white;
        opacity: 0.7;
    }